* {
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.text-muted {
    font-size: 80%;
}
#footer-text {
    text-align: center;
}
.navbar {
    background-color: #ffffff;
    border: true;
    border-bottom: solid;
    border-bottom-color: #f0f0f0;
    border-bottom-width: 2px;
}
.list-group {
    padding-top: 10px;
    min-height: 650px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#list {
    padding-top: 11%;
    padding-bottom: 11%;
}
#memberlist {
    padding-top: 3%;
    padding-bottom: 5%;
}
#listitem {
    text-align: left;
}
.form-control {
    margin-top: 5%;
    height: 50px;
}
.toast-container {
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid red;
    border-right: 16px solid white;
    border-bottom: 16px solid black;
    border-left: 16px solid white;
    border-radius: 50%;
    position: relative;
    left: 44.5%;
    margin-bottom: 10%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-container {
    margin-top: 11%;
}

.text-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

#stats {
    padding-top: 4%;
    padding-bottom: 8%;
}